@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:ital,wght@1,200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Times New Roman', Times, serif
}

.menus{
    background-color: black;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
}


.logo-nav{
    width: 100px;
    margin: 1rem;
    
}


.item-navegador{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.active{
    color:rgb(151, 151, 151);
}

.item-navegador:hover{
    color:rgb(151, 151, 151);
}

/* .submenu{
    list-style-type: none;
    position: absolute;
    display: none;
}

.submenu-masinfo:hover{
    display:block;
    color: red;

} */
  

.carousel-item{
    width: 100%;
}

.imagen-carrousel{
    height: 550px;
}


  .boton-reservar {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
  }
  
  
  .index-principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;    
}

.titulos-index{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2rem 0 2rem 0;
    margin: 5vh;
    font-size: 1.6rem;
}



.parrafo-index{
    text-align: center;
    width: 50vw;
    margin: 20px;
}


.segmentos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4vh;

}

.card-items{
 text-align: center;

}

.card-img-top{
    height: 170px;
}

 .btn-primary{
    background-color:rgb(151, 151, 151);
    border: 0px;
 }

 .btn-primary:hover{
    background-color:rgb(104, 104, 104);
 }


/* ACTIVIDADES */

.actividades{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

 .titulo-actividades{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2rem 0 2rem 0;
    margin: 5vh;
    font-size: 1.6rem;
}

.parrafo-actividades{
    text-align: center;
    width: 50vw;
    margin: 20px;
}


/*Ubicacion*/

#mapa{
    width: 100%;
}

.ubicacion-principal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
    align-content: center;
}

.titulo-ubicacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2rem 0 2rem 0;
    margin: 5vh;
    font-size: 1.6rem;
}

.subtitulo-ubicacion{
    text-align: center;
    margin-top: 40px;
    font-size: 1.8rem;
}

.parrafo-ubicacion{
    text-align: center;
    width: 50vw;
    margin: 50px;
}

.imagen-ubicacion{
   height: 80vh;
}


/*CONTACTO*/


.body{
    background: linear-gradient(
        to right,
        rgb(223, 223, 223) 0%,
        rgb(223, 223, 223) 50%,
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255) 100%
      );
}

.contacto-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}


.titulo-contacto{
    text-align: center;
    margin: 5vh;
    font-weight: bold;
    font-size: 35px;

}

.lista-link{
    padding: 0;
}


.links-contacto{
    font-size:1.3rem ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 4vh;
    border-bottom: 1px solid black;
}

.medios-contacto{
    text-decoration: none;
    color: black;
    padding-top: 2vh;
}



.formulario{
display: flex;
flex-direction: column;
flex-wrap: wrap;

}

.titulo-formulario{
text-align: center;
}


.items-formularios{
    margin: 2vh;
}

.iconos-contacto{
    font-size: 27px;

}

.boton-enviar{
    margin: 3vh 0 3vh 0;
}



/*MAS INFO*/

.parrafo-y-imagen{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 8vh;
    
}

.parrafo-masinfo{
    width: 30vw;
    text-align: center;
}

.img-masinfo{
    width: 30vw;
}


.secciones-masinfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
    

    .titulo-masinfo{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 2rem 0 2rem 0;
        margin: 5vh;
        font-size: 1.6rem;
    }

    .parrafos-masinfo{
        text-align: center;
        width: 50vw;
        margin: 20px;
        }


        .grilla{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;

            grid-template-areas:
            "img-b img-b img-f img-c"
            "img-b img-b img-d img-e"
            "img-a img-a img-g img-h"
            "img-a img-a img-i img-j"
        }


        .img-a{
            background-image:url(./img/img-paisaje2.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-a;
            border-radius: 5px;
        }

        .img-b{
            background-image:url(./img/img-paisaje10.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-b;
            border-radius: 5px;

        }

        .img-c{
            background-image:url(./img/img-animal3.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-c;
            border-radius: 5px;

        }

        .img-d{
            height: 40vh;
            background-image:url(./img/img-animal1.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-d;
            border-radius: 5px;

        }

        .img-e{
            height: 40vh;
            background-image:url(./img/img-cabalgata1.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-e;
            border-radius: 5px;

        }

        .img-f{
            background-image:url(./img/img-estancia2.jpg);
            background-size: cover;
            margin: 2px;
            grid-area: img-f;
            border-radius: 5px;

        }

        .img-g{
            height: 40vh;
            background-image:url(./img/img-paisaje1.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-g;
            border-radius: 5px;

        }

        .img-h{
            height: 40vh;
            background-image:url(./img/img-animal2.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-h;
            border-radius: 5px;

        }

        .img-i{
            height: 40vh;
            background-image:url(./img/img-index5.jpg);
            background-size: cover;
            margin: 2px;
            grid-area: img-i;
            border-radius: 5px;

        }

        .img-j{
            height: 40vh;
            background-image:url(./img/img-cabalgata3.jpg);
            background-size: cover;
            margin: 2px;
            grid-area: img-j;
            border-radius: 5px;

        }


/* FOOTER */


.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: black;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    
}

.footer-item{
    text-decoration: none;
    color: rgb(214, 214, 214);

}

footer ul li{
    margin: 10px;
}

.logo-footer{
    width: 90px;
    margin: 1rem;
}

.icon{
    padding: 3px;
}


.navbar-secundaria{
    display: none;
}

@media screen and (max-width:900px){
    .navegador{
        display: none;
    }

    .navbar-secundaria{
        display:block;
        margin: 0;
        padding: 0;
    }

    .color-nav{
        background-color: black;
    }

    .titulo-nav-secundario{
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .img-nav{
        width: 100px;
    }
    
}
