/*MAS INFO*/

.parrafo-y-imagen{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 8vh;
    align-items: center;


    .parrafo-masinfo{
        width: 50%;
        text-align: left;
        margin-right: 100px;

    }

    .img-masinfo{
        max-width: 50%;
        max-height: 60vh;
    }
}

.secciones-masinfo{
    @include flex-contenedor;
    align-items: center;

    .titulo-masinfo{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 2rem 0 2rem 0;
        margin: 5vh;
        font-size: 1.6rem;
    }

    .parrafos-masinfo{
        text-align: center;
        width: 50vw;
        margin: 20px;
        }
    }
    
    .grilla{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        grid-template-areas:
        "img-b img-b img-f img-c"
        "img-b img-b img-d img-e"
        "img-g img-h img-a img-a"
        "img-i img-j img-a img-a"
        }

        .img-a{
            background-image:url(../img/img-paisaje2.jpeg);
            background-size:cover;
            margin: 2px;
            grid-area: img-a;
            border-radius: 5px;
            transition: 1s;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }

        .img-b{
            background-image:url(../img/img-paisaje10.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-b;
            border-radius: 5px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }

        .img-c{
            background-image:url(../img/img-animal3.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-c;
            border-radius: 5px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }

        .img-d{
            height: 40vh;
            background-image:url(../img/img-animal1.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-d;
            border-radius: 5px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }

        .img-e{
            height: 40vh;
            background-image:url(../img/img-cabalgata1.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-e;
            border-radius: 5px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }

        .img-f{
            background-image:url(../img/img-estancia2.jpg);
            background-size: cover;
            margin: 2px;
            grid-area: img-f;
            border-radius: 5px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }

        .img-g{
            height: 40vh;
            background-image:url(../img/img-paisaje1.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-g;
            border-radius: 5px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }

        .img-h{
            height: 40vh;
            background-image:url(../img/img-animal2.jpeg);
            background-size: cover;
            margin: 2px;
            grid-area: img-h;
            border-radius: 5px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }

        .img-i{
            height: 40vh;
            background-image:url(../img/img-index5.jpg);
            background-size: cover;
            margin: 2px;
            grid-area: img-i;
            border-radius: 5px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }

        .img-j{
            height: 40vh;
            background-image:url(../img/img-cabalgata3.jpg);
            background-size: cover;
            margin: 2px;
            grid-area: img-j;
            border-radius: 5px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

        }
